html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############## END OF RESET ############## */

@font-face {
	font-family: "AlfaSlabOne";
	src: url(AlfaSlabOne-Regular.ttf);
}

.main-body-div {
	max-width: 75rem;
	margin: 0 auto;
}

.strap-bar-div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	padding: 0.25rem 1rem;
}

.strap-bar-img {
	width: 4rem;
	max-width: 4rem;
}

.strap-bar-span {
	font-family: "AlfaSlabOne";
	font-size: 1.5rem;

	margin-left: 0.5rem;
}

.strap-bar-btn {
	border: none;
	outline: none;

	background-color: #C4A381;
	color: #000000;

	font-size: 1rem;

	border-radius: 0.125rem;

	padding: 0.5rem 1rem;
	margin-left: auto;

	transition: all 0.2s;
	cursor: pointer;
}

.strap-bar-btn:hover, .strap-bar-btn:focus {
	background-color: #D4BCA3;
	box-shadow: 0 0 0 0.25rem #3C87BC;
}

.strap-bar-btn__icon::after {
	content: ' ';
	white-space: pre;
}

.controls-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

	padding: 0 0.5rem;
	margin-top: 1rem;
}

.default-btn {
	border: none;
	outline: none;

	background-color: #C4A381;
	color: #000000;

	font-size: 1.5rem;

	border-radius: 0.125rem;

	padding: 0.5rem 1rem;

	margin: 0 0.5rem;

	transition: all 0.2s;
	cursor: pointer;
}

.default-btn:hover:not(:disabled), .default-btn:focus:not(:disabled) {
	box-shadow: 0 0 0 0.25rem #3C87BC;
}

.default-btn:disabled {
	color: #888888;
	cursor: initial;
}

.start-btn {
	background-color: #B5C45A;
}

.start-btn:hover, .start-btn:focus {
	background-color: #C9D487;
}

.start-btn:disabled {
	background-color: #E4E9C3;
}

.stop-btn {
	background-color: #F86428;
}

.stop-btn:hover, .stop-btn:focus {
	background-color: #FBAA89;
}

.stop-btn:disabled {
	background-color: #FDE2D7;
}

.pause-btn:hover, .pause-btn:focus {
	background-color: #D4BCA3;
}

.pause-btn:disabled {
	background-color: #E9DDD1;
}

.pomodoro-number-span {
	display: block;
	text-align: center;

	font-size: 1.5rem;

	margin-top: 3rem;
}

.pomodoro-timer-span {
	display: block;
	text-align: center;

	font-size: 5rem;

	margin-top: 1.5rem;
}

.modal-background-div {
	display: none;
	position: fixed;
	background-color: #00000055;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-div {
	position: absolute;
	display: none;
	width: 100%;
	max-width: 35rem;
	top: -100rem;
	left: 50%;
	transform: translateX(-50%);

	font-size: 1rem;
	line-height: 1.25rem;

	background-color: #ffffff;
	color: #000000;

	box-sizing: border-box;
	padding: 1rem;
	border-radius: 0.0625rem;
}

.modal-close-btn {
	outline: none;
	border: none;
	padding: 0;

	width: 2rem;
	height: 2rem;

	background-color: transparent;
	color: #bbbbbb;
	float: right;

	box-sizing: border-box;
	border-radius: 100%;
	line-height: 2rem;
	font-size: 0.9rem;

	cursor: pointer;

	transition: all 0.2s ease-out;
}

.modal-close-btn:hover, .modal-close-btn:focus {
	color: #000000;
	box-shadow: 0 0 0 0.25rem #F86428;
}

.modal-title {
	display: block;
	margin-top: 1.25rem;
	margin-bottom: 0.5rem;

	box-sizing: border-box;
	padding: 0.25rem;

	border-bottom: solid 0.25rem #B5C45A;

	font-size: 1.5rem;
	line-height: 1.5rem;
}

.modal-img {
	border: none;
	outline: none;

	display: block;
	width: 60%;
	max-width: 15rem;

	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;

	pointer-events: none;
}

.modal-p {
	display: block;

	box-sizing: border-box;
	padding: 0.25rem 0.5rem;
}

@media only screen and (max-width: 440px) {
	.strap-bar-div {
		justify-content: center;
	}

	.strap-bar-div > * {
		flex: 1 100%;
	}

	.strap-bar-span {
		padding: 0.5rem 0;
	}

	.default-btn {
		flex: 1 100%;
		margin-bottom: 0.5rem;
	}
}

@keyframes slideDown {
	0% { top: -200rem; }
	100% { top: 0; }
}

@keyframes slideUp {
	0% { top: 0; }
	100% { top: -150rem; }
}